/*
 * Copyright (C) 2015 Freescale Semiconductor, Inc.
 * Copyright (C) 2016 Beck IPC GmbH
 * Copyright (C) 2017, 2018 Kernel Concepts GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * Device tree for SC165-H00 on Beck CTI1xx baseboards
 *
 */

/dts-v1/;
#include "imx6ul.dtsi"
#include "imx6ul-sc165-h00.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Beck IPC@CHIP SC165, CTI1xx devices";
	compatible = "beck,imx6ul-sc165", "fsl,imx6ul";

	chosen {
		stdout-path = &uart4;
	};

	/* LEDs located on main board */
	mainboard-leds {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;
		compatible = "gpio-leds";
		led_g1 {
			label = "LED PLC";
			gpios = <&gpio5 0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led_g2 {
			label = "LED Portal";
			gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led_g3 {
			label = "LED WIFI";
			gpios = <&gpio5 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led_g4 {
			label = "LED LED4";
			gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	reg_vref2v5: regulator-2v5 {
		compatible = "regulator-fixed";
		regulator-name = "vref";
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		regulator-always-on;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {		/* 512k */
			label = "bootloader";
			reg = <0x0000000 0x0080000>;
			read-only;
		};

		partition@80000 {	/* 256k */
			label = "environment";
			reg = <0x0080000 0x0040000>;
		};

		partition@C0000 {	/* ubi container */
			label = "filesystem";
			reg = <0x00C0000 0xFF40000>;
		};
	};
};

&fec2 {
    status = "okay";
};

&can1 {
    status = "okay";
};

&can2 {
    status = "disabled";
};

&uart1 {
    status = "disabled";
};

&uart4 {
    status = "okay";
};

&uart5 {
    status = "ok";
    /delete-node/ fsl,uart-has-rtscts;
};

&usdhc1 {
    status = "okay";
    cd-gpios = <&gpio4 26 GPIO_ACTIVE_LOW>; /* 117 high, 115 low */
    disable-wp;
    vmmc-supply = <&reg_vref_3v3>;
    /delete-node/ wp-gpios;
};


&usdhc2 {
    status = "okay";
};

&usbotg1 {
	status = "disabled";
};

&usbotg2 {
	status = "disabled";
};

&lcdif {
	status = "disabled";
};

&i2c1 {
    status = "disabled";
};


&i2c2 {
    status = "disabled";
};

&i2c4 {
    status = "ok";

    /* External RTC */
    rtc115: m41t00@68 {
	compatible = "st,m41t00";
	reg = <0x68>;
    };
};

&ecspi1 {
    fsl,spi-num-chipselects = <1>;
    cs-gpios = <0>, <&gpio1 30 GPIO_ACTIVE_LOW>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi1>;
    status = "okay";

    cti_ext08: cti_ext08@0 {
        compatible = "cti_ext08_8ana_8dig";
        spi-max-frequency = <1000000>;
        spi-cpha=<0>;
        spi-cpol=<0>;
        reg = <1>;
        gpio-reset = <&gpio1 18 GPIO_ACTIVE_HIGH>;
    };
};

&pinctrl_ecspi1 {
	fsl,pins = <
		MX6UL_PAD_CSI_DATA07__ECSPI1_MISO   0x1b020
		MX6UL_PAD_CSI_DATA06__ECSPI1_MOSI   0x1b020
		MX6UL_PAD_CSI_DATA04__ECSPI1_SCLK   0x1b020
		MX6UL_PAD_UART1_CTS_B__GPIO1_IO18   0x0b0b0
		MX6UL_PAD_UART5_TX_DATA__GPIO1_IO30 0x0b0b0
	>;
};


&ecspi2 {
    status = "disabled";

};

/* USB OTG port */
&usbotg1 {
    vbus-supply = <&reg_vref_5v>;
    dr_mode = "otg";
    srp-disable;
    hnp-disable;
    adp-disable;
    disable-over-current;
    status = "okay";
};

&iomuxc {

    pinctrl_leds: mbleds {
        fsl,pins = <
            MX6UL_PAD_SNVS_TAMPER0__GPIO5_IO00	0x0b0b0 
            MX6UL_PAD_SNVS_TAMPER1__GPIO5_IO01	0x0b0b0 
            MX6UL_PAD_SNVS_TAMPER2__GPIO5_IO02	0x0b0b0 
            MX6UL_PAD_SNVS_TAMPER3__GPIO5_IO03	0x0b0b0 
        >;
    };

    /* SDIO1 / SDHC card */
    pinctrl_usdhc1_default {
        fsl,pins = <
            MX6UL_PAD_SD1_CMD__USDHC1_CMD           0x17059
            MX6UL_PAD_SD1_CLK__USDHC1_CLK           0x10071
            MX6UL_PAD_SD1_DATA0__USDHC1_DATA0       0x17059
            MX6UL_PAD_SD1_DATA1__USDHC1_DATA1       0x17059
            MX6UL_PAD_SD1_DATA2__USDHC1_DATA2       0x17059
            MX6UL_PAD_SD1_DATA3__USDHC1_DATA3       0x17059
            MX6UL_PAD_CSI_DATA05__GPIO4_IO26        0x17059 /* SD1 CD */
        >;
    };

    pinctrl_usdhc1_100mhz {
        fsl,pins = <
            MX6UL_PAD_SD1_CMD__USDHC1_CMD           0x170b9
            MX6UL_PAD_SD1_CLK__USDHC1_CLK           0x100b9
            MX6UL_PAD_SD1_DATA0__USDHC1_DATA0       0x170b9
            MX6UL_PAD_SD1_DATA1__USDHC1_DATA1       0x170b9
            MX6UL_PAD_SD1_DATA2__USDHC1_DATA2       0x170b9
            MX6UL_PAD_SD1_DATA3__USDHC1_DATA3       0x170b9
            MX6UL_PAD_CSI_DATA05__GPIO4_IO26        0x17059 /* SD1 CD */
        >;
    };

    pinctrl_usdhc1_200mhz {
        fsl,pins = <
            MX6UL_PAD_SD1_CMD__USDHC1_CMD           0x170f9
            MX6UL_PAD_SD1_CLK__USDHC1_CLK           0x100f9
            MX6UL_PAD_SD1_DATA0__USDHC1_DATA0       0x170f9
            MX6UL_PAD_SD1_DATA1__USDHC1_DATA1       0x170f9
            MX6UL_PAD_SD1_DATA2__USDHC1_DATA2       0x170f9
            MX6UL_PAD_SD1_DATA3__USDHC1_DATA3       0x170f9
            MX6UL_PAD_CSI_DATA05__GPIO4_IO26        0x17059 /* SD1 CD */
        >;
    };
};
